{% extends 'base.html' %}

{% block contenidohijas %}

	<main>
		<!--Acerca de - contenido -->
		<div class="container">
			<div class="row contenedor">
				<div class="col">
					<h2 class="titulo" style="text-align:center;">Mantenimientos de Productos</h2>

					<div class="row justify-content-center">
							<a href="{% url 'productoguardar' %}" class="btn btn-success mr-3" target="modificar"><span class="fa fa-print"></span>Guardar&nbsp;</a>
							<a href="{% url 'productopdf' %}" class="btn btn-success mr-3" target="print"><span class="fa fa-print"></span> Imprimir</a>

    						<TABLE class="table table-bordered" BORDER="1">
                    <tr>
                        <th>Id</th>
                        <th>Grupo</th>
                        <th>Productos</th>
                        <th>Precio</th>
                        <th>Código</th>
                        <th>Existencia</th>
                        <th>Estado</th>
                        <th>Presentar</th>
                        <th>Modificar</th>
                    </tr>
                    {% for presenta in object_list %}
                    <tr>
                        <td>{{ presenta.id }}</td>
                        <td>{{ presenta.productogrupo.gruponombre }}</td>
                        <td>{{ presenta.productonombre }}</td>
                        <td>{{ presenta.productopreciovta }}</td>
                        <td>{{ presenta.productocodigo }}</td>
                        <td>{{ presenta.productoexistencia }}</td>
                        <td>{{ presenta.productoanulado }}</td>
                        <td><a href="{% url 'productoindividual' presenta.id %}" class="btn btn-warning" target="print"><span class="fa fa-print"></span> Imprimir</a></td>
                        <td><a href="{% url 'productomodificar' presenta.id  %}" class="btn btn-primary" target="modificar"><span class="fa fa-print"></span> Modificar</a></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
        </div>
    </main>
{% endblock %}